/* ==================== Fonts Family ==================== */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins-Bold.woff') format('woff'),
        url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins-Medium.woff') format('woff'),
        url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins-Regular.woff') format('woff'),
        url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/Poppins-SemiBold.woff') format('woff'),
        url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ==================== Root CSS ==================== */
:root{
    --my-primary-color: #2E4052;
    --my-dark-color: #293746;
    --my-light-color: #EFEFEF;
    --my-white-color: #ffffff;
    --my-highlighted-color: #FFC857;
}

/* ==================== Default CSS ==================== */
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--my-primary-color);
}
h1{
    font-size: 3.75rem;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-weight: 700;
}
h3{
    font-size: 1.75rem;
    font-weight: 600;
}
h4{
    font-size: 1.375rem;
    font-weight: 500;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    max-width: 100%;
}
::selection{
    color: var(--my-highlighted-color);
    background-color: var(--my-primary-color);
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    text-transform: capitalize;
    color: var(--my-primary-color);
    background-color: var(--my-white-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ==================== Reusable CSS ==================== */
.highlighted{
    color: var(--my-highlighted-color);
}
.my_btn{
    display: inline-block;
    border: 2px solid transparent;
    border-radius: none;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
}
.my_btn_primary{
    border-color: var(--my-primary-color);
    color: var(--my-light-color);
    background-color: var(--my-primary-color);
}

/* ==================== Page Preloader CSS ==================== */
.page_preloader{
    display: flex;
    width: 100vw;
    height: 100vh;
    animation: zoomInOut 0.5s linear 1.7s;
}
@keyframes zoomInOut {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
.page_preloader_content{
    max-width: 250px;
    width: 100%;
    text-align: center;
}
.page_preloader_progress_bar{

    height: 5px;
    background-color: var(--my-highlighted-color);
    margin-top: 0.5rem;
    animation: loading 1.7s linear;
}
@keyframes loading {
    from{
        width: 0%;
    }
    to{
        width:100%;
    }
}

/* ==================== Header CSS ==================== */
